.app {
  display: flex;
  justify-content: center;
}

.chat-container-outer {
  flex-direction: column;
  width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 3px 3px rgba(95, 95, 95, 0.2);
}

.chat-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: none;
  min-height: 50vh;
  max-height: 50vh;
}

@media only screen and (max-width: 768px) {
  .chat-container-outer {
    padding: 1rem;
  }
  .chat-container {
    min-height: 98vh;
    max-height: 98vh;
  }
}
