.messageContent {
  display: inline-block;
}

.text {
  padding: 10px;
  margin-top: 10px;
  border-radius: 12px;
  color: white;
  display: inline-block;
  word-break: break-word;
}

.username {
  display: block;
  color: gray;
  font-size: 14px;
}

.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0 0 0;
  flex-shrink: 0;
}

.messagesMessage {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.currentMember .username {
  order: 0 !important;
}

.currentMember > .messageContent {
  align-items: flex-end;
}

.currentMember .username {
  text-align: right;
}

.avatarWrapper {
  display: flex;
  gap: 10px;
}

.avatarWrapper .username {
  order: 1;
  align-self: center;
}

.currentMember .avatarWrapper {
  align-self: flex-end;
}

.currentMember .messageContent {
  align-self: flex-end;
}
